{% extends 'base.html' %} <!--Master template(base.html) to inherite from-->

{% block head %}
<title>Paris</title>
{% endblock %}

{% block body %} 
<div class="main">
  <h2>Land of Gods</h2>
  <p>Bali, Island of the Gods. This idyllic little island in the archipelago of Indonesia is famous with Western travellers, 
    but few who visit really get to know its culture, history and people.</p>
  <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img2.png?v=1596090484404" style="width:79%">
</div>

<div class="right">
  <h2>What?</h2>
  <p>Bali is an Indonesian island known for its forested volcanic mountains, iconic rice paddies, beaches and coral reefs.</p>
  <h2>Where?</h2>
  <p>Bali is an island of Indonesia and is situated 8 degrees from the equator, in the Java Sea. Bali's location is 4,555 km (2,830 miles) from Australia and is situated between Indonesia's islands of Lombok and Java.</p>
  <h2>Price?</h2>
  <p>approximately $1,845 USD. This includes airfare, accommodation, food, transportation, attractions, and more. If you're travelling with two people, you would double all the costs except for accommodations.</p>
</div>

{% endblock %}