{% extends 'base_group.html' %} <!--Master template(base_group.html) to inherite from-->


{% block head %}
<title> Couple </title>
{% endblock %}

{% block body %} 

<div class="pic">
  <div class="pic">
    <pre>   </pre>
    <a href= "turkey"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Fturkey-2674363_1920-1.webp?v=1596348417862"> </a>
  </div> 
  <div class="pic">
      <pre>   </pre>
    </div>
    <a href= "paris"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Fparis-1024x683.webp?v=1596348193093"> </a>
  </div>
   
{% endblock %}