{% extends 'base_group.html' %} <!--Master template(base_group.html) to inherite from-->

{% block head %} 
<title>Family</title>

{% endblock %}

{% block body %}
<div class="pic">
  
  <div class="pic">
    <pre>   </pre>
    <a href= "St.Lucia"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img1.jpg?v=1596090481361"> </a>
  </div>
    
  <div class="pic">
      <pre>   </pre>
    </div>
  
    <a href= "bali"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img2.png?v=1596090484404"> </a>
  
  </div>


{% endblock %}
