<!DOCTYPE html>
<html>
<head>
  <title>Esos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="script.js"></script>
  
  	<div class="head">
<h1>Simply The Best travel guide</h1>
  
<h3>We share places that we've visited so far and would encourage you to visit it</h3>
      
		</div>

</head>

<script>
window.onclick = myFunction;

function myFunction() {
  document.getElementsByClassName("container")[0].style.backgroundColor = "lightyellow";
  
}
</script>
<body>

<div class="responsive">
  <div class="gallery">
    

      <a href= "turkey"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Fturkey-2674363_1920-1.webp?v=1596348417862"> </a>
    <div class="desc">Turkey</div>
    <p>Turkey is packed with cultural heritage.</p> 
    <p>Turkey is a transcontinental country located mainly on the Anatolian peninsula in Western Asia, with a smaller portion on the Balkan peninsula in Southeastern Europe.</p>
  </div>
</div>


<div class="responsive">
  <div class="gallery">

      <a href= "paris"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Fparis-1024x683.webp?v=1596348193093"> </a>
    
    <div class="desc">Paris</div>
    
    <p>Paris is the capital of France.</p> 
    <p>The Paris area is one of the largest population centers in Europe,
    with more than 12 million inhabitants.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    
        <a href= "St.Lucia"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img1.jpg?v=1596090481361"> </a>
    <div class="desc">St.Lucia</div>
    <p>St Lucia's wildlife & nature</p> 
    <p>St Lucia is well-known for its vast variety of birdlife! The national bird of St Lucia is the Saint Lucian Parrot (the Amazona versicolor), which is one of five native parrot species and 157 bird species that live on the island.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    
      <a href= "bali"> <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img2.png?v=1596090484404"> </a>

    <div class="desc">Bali</div>
    <p>The land of the Gods.</p> 
    <p>
      Bali is an Indonesian island known for its forested volcanic mountains, iconic rice paddies, beaches and coral reefs. The island is home to religious sites
    </p>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
  <p></p>
</div>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="family">Family</a></li>
  <li><a href="couple">Couples</a></li>
</ul>
 <div class="fixed-footer">
        <div class="container">Copyright &copy; 2020 Esos</div>        
    </div>
</body>
</html>