{% extends 'base.html' %} <!--Master template(base.html) to inherite from-->

{% block head %}
<title>St.Lucia</title>
{% endblock %}

{% block body %} 
<div class="main">
  <h2>St Lucia's wildlife & nature</h2>
  <p>Saint Lucia is an Eastern Caribbean island nation with a pair of dramatically tapered mountains, the Pitons, on its west coast. Its coast is home to volcanic beaches, reef-diving sites, luxury resorts and fishing villages.</p>
  <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Ffamily_img1.jpg?v=1596090481361" style="width:79%">
</div>

<div class="right">
  <h2>What?</h2>
  <p>St Lucia is well-known for its vast variety of birdlife! The national bird of St Lucia is the Saint Lucian Parrot (the Amazona versicolor), which is one of five native parrot species and 157 bird species that live on the island.</p>
  <h2>Where?</h2>
  <p>BSaint Lucia, island state in the Caribbean Sea. It is the second largest of the Windward group in the Lesser Antilles and is located about 24 miles (39 km) south of Martinique and some 21 miles (34 km) northeast of Saint Vincent.</p>
  <h2>Price?</h2>
  <p>The average hotel price in Saint Lucia for a couple is EC$571 ($211). So, a trip to Saint Lucia for two people for one week costs on average EC$6,399 ($2,368).</p>
</div>

{% endblock %}