{% extends 'base.html' %} <!--Master template(base.html) to inherite from-->

{% block head %}
<title>Paris</title>
{% endblock %}

{% block body %} 
<div class="main">
  <h2>hot air balloon.</h2>
  <p> Turkey is one of the most popular destinations in the world for hot air balloon rides. The capital of Turkey Cappadocia is perhaps most well known for the panoramic view of hundreds of hot air balloons ebbing and flowing above valleys and volcanic “fairy chimney” formations</p>
  <img src="https://cdn.glitch.com/fd79241e-338d-48ef-8a8a-efa2870ffaad%2Fturkey-2674363_1920-1.webp?v=1596348417862" style="width:79%">
</div>

<div class="right">
  <h2>What?</h2>
  <p>Turkey is known for having a huge variety and type of places! From amazing beaches through its more than 8000km of coastline to big mountain ranges, including Mount Arat (over 5000 meters). You can also go to places like Istanbul or Ankara which are the most famous cities in Turkey to visit.</p>
  <h2>Where?</h2>
  <p>Turkey, is a transcontinental country located mainly on the Anatolian peninsula in Western Asia, with a smaller portion on the Balkan peninsula in Southeastern Europe..</p>
  <h2>Price?</h2>
  <p>You should plan to spend around TRY163 ($22) per day on your vacation in Turkey, which is the average daily price based on the expenses of other visitors. Past travelers have spent, on average, TRY31 ($4.27) on meals for one day and TRY12 ($1.65) on local transportation.</p>
</div>

{% endblock %}